body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}
.lexend-giga-logo {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

#navigation a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}
.hero-text {
  gap: 1.5em;
  font-size: 2.5rem;
}

button:hover {
  cursor: pointer;
}
input {
  border: 1px solid black;
}
.judul-game {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}
.card-list {
  background-color: white;
}
.card-list h1 {
  color: #333;
}
